@media (min-width: 320px) and (max-width: 1300px) {

    .container {
        padding: 0 16px;
        width: 100%;
        min-width: 288px;
        max-width: unset;
    }

 
}

@media (min-width: 720px) and (max-width: 1300px) {


.container__tariff {
    top: 0px;
    padding: 89px 16px;
}



.steps__flex_step::after {
    content: '';
    position: absolute;
    width: 22px;
    height: 11px;
    background-image: url(../img/stepsarrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    top: 43px;
    right: -43px;
}

.steps__text::before {
    content: counter(list);
    position: absolute;
    counter-increment: list;
    width: 48px;
    height: 48px;
    color: #282423;
    border-radius: 50%;
    border: 2px solid #282423;
    bottom: inherit;
    left: -67px;
    font-size: 24px;
    line-height: 2.1;
    text-align: center;
}

}


@media (min-width: 320px) and (max-width: 1550px) {


    .header {
        background-size: 640px auto;
    }


    #advantages {
        display: none;
    }

}



@media (min-width: 320px) and (max-width: 1187px) {

    body {
        overflow-x: hidden !important;
    }


    .header__nav_link,
    .header__nav_logo, .link__inactive {
        display: none !important;
    }

    .header__nav_logo_mobile,
    .header__burger_nav, .active {
        display: block !important;
    }

    .header {
        padding: 16px 0px 420px 0px;
        background-image: url(../img/calc_m.png);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: 400px auto;
    }

    .tariff__flex {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 16px;
    }

    .tariff__icon_first {
        padding-top: 96px !important;
        background: #f7f7f7 !important;

    }

    .tariff__icon {
        padding: 72px 16px 42px 16px;
        border-radius: 16px;
        border: solid 2px #ebebeb;
        background-color: #ffffff;
        margin-top: 32px;
    }


}


@media (min-width: 320px) and (max-width: 1187px) {

    .tariff__icon_best,
    .tariff__icon_first {
        margin-right: 0px !important;
    }

    .tariff__rowValue,
    .tariff__rowTitle {

        font-size: 14px;

    }

    .tariff__title_main {
        font-size: 16px !important;
    }
}

@media (min-width: 390px) and (max-width: 720px) {



    .offer__input {
        display: inline-block;
        width: 100%;
        min-width: 320px;
        max-width: 320px;
        text-decoration: none;
        border: none;
        border-bottom: 2px solid #2c2c2c;
        font-size: 20px;
        line-height: 2;
        text-align: left;
        color: #2c2c2c;
        overflow-x: hidden !important;
        margin-bottom: 42px;
    }




    .container__consultation {
        padding: 82px 0px 42px 16px;
        width: 100%;
        min-width: 288px;
        max-width: unset;
        top: 0;
    }

    .consultation__block {
        margin: 0 auto;
        width: 100%;
        max-width: 320px;
    }

}


@media (min-width: 342px) and (max-width: 390px) {



    .offer__input {
        display: inline-block;
        width: 100%;
        min-width: 300px;
        max-width: 300px;
        text-decoration: none;
        border: none;
        border-bottom: 2px solid #2c2c2c;
        font-size: 20px;
        line-height: 2;
        text-align: left;
        color: #2c2c2c;
        overflow-x: hidden !important;
        margin-bottom: 42px;
    }


    .container__consultation {
        padding: 82px 0px 42px 16px;
        width: 100%;
        min-width: 288px;
        max-width: unset;
        top: 0;
    }

    .consultation__block {
        margin: 0 auto;
        width: 100%;
        max-width: 320px;
    }

}

@media (min-width: 320px) and (max-width: 342px) {



    .offer__input {
        display: inline-block;
        width: 100%;
        min-width: 270px;
        max-width: 270px;
        text-decoration: none;
        border: none;
        border-bottom: 2px solid #2c2c2c;
        font-size: 20px;
        line-height: 2;
        text-align: left;
        color: #2c2c2c;
        overflow-x: hidden !important;
        margin-bottom: 42px;
    }


    .container__consultation {
        padding: 82px 0px 42px 16px;
        width: 100%;
        min-width: 288px;
        max-width: unset;
        top: 0;
    }

    .consultation__block {
        margin: 0 auto;
        width: 100%;
        max-width: 320px;
    }

}

@media (min-width: 320px) and (max-width: 345px) {
    .radio+label {
        position: relative;
        padding: 0 0 0 35px;
        cursor: pointer;
        font-size: 12px;
    }

    .consultation__theme_checkbox {
        font-size: 12px;
    }

}

@media (min-width: 720px) and (max-width: 1187px) {


.phones {
    padding: 48px 46px 42px 46px;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}

.phones__item {
    font-size: 22px;
    font-weight: 500;
    text-align: unset;
    color: #000000;
    line-height: 0.8;
}

.phone__item_info {
    display: block;
    font-size: 14px !important;
    text-align: center;
    font-weight: 400;
    margin-top: 8px;
    color: #2c2c2c;
}

.header__nav_link_last {
    margin-right: 16px;
}

}


@media (min-width: 320px) and (max-width: 720px) {

    body {
        overflow-x: hidden !important;
    }


    .SwipperSlider__panel {
        padding-left: 0px;
    }

    .AdditionalSlider__slider {
        position: relative;
        width: 100% !important;
        overflow-x: hidden !important;
        z-index: 1;
    }

    .consultation__title {
        font-size: 24px !important;
        margin-bottom: 15px;
        position: relative;
    }

    

    .consultation__title::after {
        content: "Этим летом";
        position: absolute;
        text-align: center;
        font-size: 14px;
        color: #ffffff;
        background: #e9041e;
        border-radius: 2px;
        padding: 8px 29px;
        top: -61px;
        left: 0;
    }

    .consultation__text {
        font-size: 14px;
        line-height: 1.38;
        text-align: left;
        color: #2c2c2c;
        margin-bottom: 4px;
    }

    .consultation__opinion {
        margin-bottom: 42px;
        margin-top: 24px;
        font-size: 14px;
    }

    .consultation__themes {
        margin-bottom: 42px;
        font-size: 14px;
    }

    .checkbox-custom {
        display: inline-block;
        cursor: pointer;
        position: relative;
        width: 20px;
        height: 20px;
        border: solid 1px #a0a0a0;
        border-radius: 2px;
        margin-right: -16px;
        background-image: url(../img/galka.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 0%;
        z-index: -1;
        left: -26px;
        top: 6px;
        transition: .3s ease;
    }

    .radio+label:before {
        content: '';
        position: absolute;
        top: -5px;
        left: 0;
        width: 20px;
        height: 20px;
        border: solid 1px #a0a0a0;
        border-radius: 50%;
        background: #FFF;
    }

    .radio+label:after {
        content: '';
        position: absolute;
        top: 1px;
        left: 6px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #e9041e;
        opacity: 0;
        transition: .2s;
    }

    .consultation__contacts_email_text {
        font-size: 10px;
    }

    .consultation__email {
        width: 100%;
        max-width: 608px;
        text-decoration: none;
        border: none;
        border-bottom: 2px solid #2c2c2c;
        font-size: 20px;
        line-height: 2;
        text-align: left;
        color: #2c2c2c;
        margin-bottom: 24px;
    }

    .consultation__agree {
        display: block;
        line-height: 1.38;
        text-align: left;
        font-weight: 400;
        font-size: 14px;
        color: #777777;
        margin-bottom: 42px;
    }

    .consultation__btn {
        cursor: pointer;
        font-size: 14px;
        font-weight: 500;
        border-radius: 28px;
        margin: 0 auto !important;
        padding: 17px 64px;
        width: 100%;
        border: solid 2px #e9041e;
        text-align: center;
        color: #282423;
        max-width: 200px;
    }

    .consultation__title_close {
        top: -63px;
        right: 4px;
    }

    .offer__title {
        font-size: 24px !important;
        margin-bottom: 32px;
        position: relative;
    }

    .offer__label {
        display: inline-block;
        font-size: 10px;
    }

    .offer__input_promo {
        margin-bottom: 28px;
    }

    .offer__agree {
        margin-top: 28px;
        margin-bottom: 42px;
    }

    .offer__modal .consultation__btn {
        font-size: 14px;
        padding: 17px 32px;
        text-align: center;
        margin-right: 26px;
    }


    .offer__modal .offer__flex_btn {
        margin-right: 26px;
    }


    .offer__price {
        font-size: 20px;
    }

    .offer__price_rub {
        display: inline-block;
        font-size: 12px;
    }

    .offer__flex {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .header__nav_links,
    .inactive,
    .tariff__row,
    .tariff__row_head {
        display: none;
    }

    main {
        margin: 43px 0 160px 0;
    }

    .header__nav_logo_mobile,
    .header__burger_nav,
    .tariff__row_mob,
    .tariff__rowFlex {
        display: block;
    }

    .inactive {
        display: none;
    }

    .tariff__title {
        font-size: 24px !important;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-top: 64px;
        position: relative;
    }

    .tariff__table {
        margin-top: 20px;
    }

    .tariff__title_main {
        font-size: 16px !important;
        font-weight: 500;
    }

    .tariff__row_mob {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tariff__title_mob {
        position: relative;
    }

    .tariff__title_mob::after {
        content: "";
        position: absolute;
        height: 52px;
        width: 1px;
        background: #d0d0d0;
        top: -15px;
        right: 3px;
    }

    .tariff__title_close {
        width: 24px;
        height: 24px;
        opacity: 0.5;
        top: -46px;
        right: 4px;
    }

    .header__nav_logo {
        display: none;
    }

    .header__nav_link_last {
        margin-right: 2px;
        font-size: 12px;
        display: inline-block;
        padding: 10px 16px;
        border-radius: 27px;
    }

    .header__nav {
        margin-bottom: 83px;

    }

    .header {
        background-size: 320px auto;
    }

    h1 {
        display: block;
        width: 100%;
        font-family: 'montserratExtrabold', Arial, Helvetica, sans-serif;
        font-size: 22px !important;
        font-weight: 800;
        line-height: 1.36;
        text-align: left;
        color: #282423;
        position: relative;
    }

    h1::after {
        content: "";
        position: absolute;
        width: 100%;
        max-width: 228px;
        height: 4px;
        background: #282423;
        bottom: -9px;
        left: 59px;
    }

    .header__subtitle {
        margin-bottom: 24px;
        margin-top: 55px;
        text-align: left;
        font-size: 16px;
    }

    .header__btn a {
        display: inline-block;
        font-weight: 500;
        padding: 14px 32px;
        font-size: 14px;
    }

    h2 {
        font-size: 24px !important;
        font-weight: bold !important;
    }

    .main__subtitle {
        font-size: 16px;
        line-height: 1.25;
        text-align: left;
        color: #a0a0a0;
        margin-bottom: -10px;
    }

    .mainflex {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .mainflex__icon_first,
    .mainflex__icon {
        margin-top: 42px !important;
    }

    .tariff__subtitle {
        margin-left: 10px;
    }

    .tariff__flex {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 16px;
    }

    .tariff__icon_best,
    .tariff__icon_first {
        margin-right: 0px !important;
    }

    .tariff__icon_first {
        padding-top: 96px !important;
        background: #f7f7f7 !important;
    }

    .tariff__icon {
        padding: 72px 16px 42px 16px;
        border-radius: 16px;
        border: solid 2px #ebebeb;
        width: 100%;
        margin-top: 32px;
        max-width: 288px;
    }

    /* .tariff__icon_first::after {
        content: "Этим летом";
        position: absolute;
        text-align: center;
        font-size: 14px;
        color: #ffffff;
        background: #e9041e;
        border-radius: 2px;
        padding: 8px 29px;
        top: 32px;
        right: -10px;

    } */


    .tariff__icon_subtitle {
        height: auto;
        font-size: 12px;
        line-height: 1.33;
        text-align: center;
        color: #777777;
        margin-bottom: 42px;
        margin-top: 10px;
    }

    .tariff__item {
        text-align: left;
        color: #2c2c2c;
        margin-left: 24px;
        position: relative;
        margin-bottom: 20px;
        font-size: 13px;
    }

    .tariff__item_height {
        display: block;
        height: auto;
    }

    .tariff__row_head {
        display: none;
    }

    .tariff__row_dark,
    .tariff__row_white {
        display: flex;
        flex-direction: column;
        align-items: center !important;
        padding: 24px 16px 0px 16px;
    }

    .tariff__rowTitle {
        width: 100%;
        font-size: 13px;
        line-height: 1.38;
        color: #777777;
        max-width: 288px;
        text-align: center;
        margin-bottom: 7px;
    }

    .tariff__item_price_flex_first {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-top: 48px;
    }

    .tariff__item_btn {
        cursor: pointer;
        padding: 17px 32px;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        border-radius: 27px;
        border: solid 2px #e9041e;
        background-color: #ffffff;
        position: relative;
    }

    .tariff__rowValue {
        min-width: 42px;
        text-align: center;
        margin-top: 16px;
        font-size: 13px;
        line-height: 1.38;
        margin-bottom: 20px;
        width: 100%;
        color: #000000;
    }

    .tariff__rowPrice {
        max-width: 79px;
    }

    .tariff__rowFlex {
        display: flex;
        align-items: center;
    }

    .tariff_standart {
        margin-right: 82px !important;
        position: relative;
    }

    .tariff_standart::after {
        content: '';
        position: absolute;
        height: 35px;
        width: 1px;
        background: #d0d0d0;
        top: -10px;
        right: -38px;
    }

    .tariff__item_price {
        display: none;
    }

    .tariff__item_price_flex {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-top: 32px;
    }

    .docs__title {
        display: none;
    }

    #tariff {
        margin-bottom: 32px;
    }

    .docs__item_name {
        position: relative;
        font-size: 14px;
        line-height: 1.25;
        text-align: left;
        color: #2c2c2c;
    }

    #docs {
        margin-bottom: 7px;
    }

    .phones {
        padding: 48px 46px 42px 46px;
        background: #f0f0f0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 120px;
    }

    .phones__item {
        font-size: 22px;
        font-weight: 500;
        text-align: unset;
        color: #000000;
        line-height: 0.8;
    }

    .phone__item_info {
        display: block;
        font-size: 14px !important;
        text-align: center;
        font-weight: 400;
        margin-top: 8px;
        color: #2c2c2c;
    }


    .docs__item {
        margin-left: 46px;
        margin-bottom: 25px;
    }

    .advantages__main {
        margin-top: 32px;
        margin-bottom: 120px;
    }

    .advantages__main_title {
        font-size: 32px !important;
        line-height: 0.5;
        font-weight: 400;
        text-align: left;
        color: #2c2c2c;
    }

    .AdditionalSlider__title {
        font-size: 48px;
        line-height: 0.5;
        color: var(--textColor, #282423);
        position: relative;
        width: 100%;
        padding-bottom: 16px;
    }

    .steps__flex {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 44px;
        margin-bottom: 120px;
    }

    .steps__flex_step {
        width: 100%;
        max-width: 288px;
        margin-right: 0px;
        margin-top: 60px;
        position: relative;
    }

    .steps__flex_step::after {
        content: '';
        position: absolute;
        width: 22px;
        height: 11px;
        background-image: url(../img/stepsarrow.svg);
        background-repeat: no-repeat;
        background-size: contain;
        bottom: -45px;
        right: 133px;
        transform: rotateZ(90deg);
    }

    .steps__text {
        position: relative;
        margin-left: 0px;
        font-size: 14px;
        line-height: 1.5;
        text-align: center;
    }

    .steps__img {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 24px;
    }

    .steps__flex_mob {
        margin-top: 0px !important;
    }

    .steps__text::before {
        content: counter(list) ".";
        position: absolute;
        counter-increment: list;
        width: 48px;
        height: 48px;
        color: #282423;
        border-radius: 50%;
        border: none;
        bottom: 85px;
        left: 56px;
        font-size: 24px;
        line-height: 2.1;
        text-align: center;
    }

    .red__square {
        background: #e9041e;
        width: 12px;
        height: 12px;
        margin: 24px auto;
        border-radius: 2px;
    }

    #questions .phones {
        padding: 0px 50px 64px 50px;
        background: #f0f0f0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 0px;
    }

    footer {
        background: #2c2c2c;
        padding-top: 56px;
        padding-bottom: 75px;
    }

    .footer__flex {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    .footer__info {
        width: 100%;
        margin-top: 23px;
        max-width: 671px;
        font-size: 14px;
        line-height: 1.7;
        text-align: left;
        color: #ffffff;
    }

    .SwipperSlider__body {
        position: relative;
        width: 104%;
    }

}

@media (max-width: 767px) {
    .AdditionalSlider__slide {
        width: 219px;
        margin-right: 32px;
    }
}